<div class="banner-announcement" style="
        color: {{ section.settings.announcement_color }};
        background: {{ section.settings.announcement_background }};
      ">
  <div class="banner-announcement-slider">
        {%- for block in section.blocks -%}
          <div class="item">
            <p>{{ block.settings.content }}</p>
          </div>
        {% endfor %}
      </div>
</div>

{% schema %}
{
  "name": "Banner Announcement",
  "class": "site-announcement",
  "settings": [
    {
      "id": "announcement_color",
      "type": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "id": "announcement_background",
      "type": "color",
      "label": "Background",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Announcement",
      "settings": [
        {
      "type": "text",
      "id": "content",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Banner Announcement",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}