<style>
  #rout img.motion-reduce{
        width: 302px;
    height: 400px;
}
  }
</style>
<shop url="{{ shop.url }}" customer_id="{{ customer.id }}"></shop>
<center><h1>{{ page.title }}</h1></center>
<div id="rout" rout="058">
<ul id="wishlist_nodify_fifty_eight" author="058" class="wishlist-upload-document"></ul>
</div>