<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->  
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <section>
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <div class="web-heading">
                        <h1 style="color: #2EB4AC; font-size: 24px; ">Thank You for Reporting the Issue</h1>
                        <p>We appreciate your cooperation in helping us address the product verification issue.</p>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0233/6459/9885/files/authenticate-ssb.png?v=1702580959" alt="Wellversed-ssb">
                    <p style="color: #2EB4AC;"><i>Please wait 5 Seconds to log in our website.</i></p>
                    <a href="https://wellversed.in/pages/authenticator" class="btn btn-outline-dark btn-app"><b>Back to the Authentication Page</b></a>
            </div>
        </div>
    </section>
    
</body>
</html>